body {
    font-family: $open-con;
    font-weight: 700;
    background-color: $black;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 10px;
}
.title {
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 100px;
    & span {
        color: $gold;
    }
}